.user-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .searchInput {
    width: 300px;
    height: 30px;
    border-width: 2px;
    border-radius: 6px;
  }
  